<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mercado Liebre</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/static/CSS/normalize.css">
    <link rel="stylesheet" href="/static/CSS/styles.css">
    <script src="https://kit.fontawesome.com/29b5584878.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <section>
        <div class="up-section">
          <img class="logo-liebre" src="static/images/logo-mercado-liebre (2).svg" alt="Logo de mercado liebre">

          <form class="up-section-search" action="#">
            <input  type="text" placeholder="Buscar Productos / Marcas">
            <button type="button">
                <i class="fas fa-search"></i>
            </button>
          </form>

          <h2 class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
          </h2> 
        </div>  
      </section>

      <section class="down-section">
        <nav class="main-navbar">
          <ul type="none">
           <li><a href="#">Ofertas</a></li>
           <li><a href="#">Tiendas Oficiales</a></li>
           <li><a href="#">Vender</a></li>
           <li><a href="#">Ayuda</a></li>
           <li><a href="#">Creá tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
           <li><a href="#" >Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
           <li><a href="#" >Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
          </ul>
        </nav>
      </section>

        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>

    </header>    

      <section class="banner">
          <img src="static/images/img-home-banner.jpg" alt="Banner de ofertas">
      </section>    

    <main>
      <section class="titulares">
        <h3>Basado en tu última visita</h3>
        <div class="lista-productos">
            <article class="productos">
              <img class="productos" src="static/images/img-cafetera-moulinex.jpg" alt="Foto de cafetera moulinex">
              <div class="detalle-producto">
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <h4>Cafetera Moulinex</h4>
              </div>    
            </article>

            <article class="productos">
              <img class="productos" src="static/images/img-macbook-pro-2019.jpg" alt="mcbook">
              <div class="detalle-producto">
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$230.000</p>
                <p class="descuentos">20% OFF</p>
                <h4>McPro 2019</h4>
              </div>
            </article>

            <article class="productos">
              <img class="productos" src="static/images/img-samsung-galaxy-s10.jpg" alt="telefono Samsung">
              <div class="detalle-producto">
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$70.500</p>
                <p class="descuentos">10% OFF</p>
                <h4>Samsung Galaxy S10</h4>
              </div>    
            </article>  

            <article class="productos">
              <img class="productos" src="static/images/img-tv-samsung-smart.jpg" alt="smart Samsung">
              <div class="detalle-producto">
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$23.200</p>
                <p class="descuentos">5% OFF</p>
                <h4>SmartTv Samsung 43"</h4>
              </div>  
            </article>  
        </div>
      </section>

      <section class="ofertas">
        <h3>Ofertas</h3>
        <div class="lista-productos">
          <article class="productos">
            <img class="productos" src="static/images/img-cafetera-moulinex.jpg" alt="Foto de cafetera moulinex">
            <div class="detalle-producto">
              <i class="fa-solid fa-truck"></i>
              <p class="precios">$6.770</p>
              <p class="descuentos">40% OFF</p>
              <h4>Cafetera Moulinex</h4>
            </div>    
          </article>

          <article class="productos">
            <img class="productos" src="static/images/img-macbook-pro-2019.jpg" alt="mcbook">
            <div class="detalle-producto">
              <i class="fa-solid fa-truck"></i>
              <p class="precios">$230.000</p>
              <p class="descuentos">20% OFF</p>
              <h4>McPro 2019</h4>
            </div>
          </article>

          <article class="productos">
            <img class="productos" src="static/images/img-samsung-galaxy-s10.jpg" alt="telefono Samsung">
            <div class="detalle-producto">
              <i class="fa-solid fa-truck"></i>
              <p class="precios">$70.500</p>
              <p class="descuentos">10% OFF</p>
              <h4>Samsung Galaxy S10</h4>
            </div>    
          </article>  

          <article class="productos">
            <img class="productos" src="static/images/img-tv-samsung-smart.jpg" alt="smart Samsung">
            <div class="detalle-producto">
              <i class="fa-solid fa-truck"></i>
              <p class="precios">$23.200</p>
              <p class="descuentos">5% OFF</p>
              <h4>SmartTv Samsung 43"</h4>
            </div>  
          </article>  
      </div> 
      </section>
    </main>  

    <footer>
      <section class="footer-section">
        <article class="footer-item">
          <i class="fa-solid fa-credit-card"></i>
          <h2>Pagá con tarjeta o en efectivo</h2>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>  

        <article class="footer-item">
          <i class="fa-solid fa-gift"></i></span>
          <h2>Envío gratis desde $ 2.500</h2>
          <p>
            Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </article>  

        <article class="footer-item">
          <i class="fa-solid fa-user-shield"></i></i></span>
          <h2>Seguridad, de principio a fin</h2>
          <p> 
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.
          </p>
        </article> 
      </section>  
                   
      <section class="footer-copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>

  </body>
</html>